    <div class="chore_header">
        <!-- margin 을 두개로 나눠서 넣으면 상하의 마진, 좌우의 마진 을 지정해줌 : 여기서 2rem = 상하, @ = 좌우 -->
        <div>
            <h1 class="chore_logo">Chords Recommendation</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>

            {% if not user.is_authenticated %}
            <!-- get방식으로 next 인자 넘겨줌 -->
            <!-- 우리가 지금 홈페이지 어떤페이지에 있던간에 넥스트라는 인자를 넘겨줌으로써 로그인 끝나고 다시 그 페이지로 컴백(로그인 한 상태로)할 수 있게됨 -->
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>Login</span>
            </a>
            <a href="{% url 'accountapp:create' %}">
                <span>Sign Up</span>
            </a>
            {% else %}

            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <!-- pk 는 지금 로그인되어있는 유저의 pk -->
                <span>My Page</span>
            </a>

            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>Logout</span>
            </a>
            {% endif %}
        </div>
    </div>