{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/static/full_width_pics_styles.css" />


    <!-- GOOGLE FONTS LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

    <title> fp </title>
</head>
<body>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
   {% block content %}
    <!--  base.html을 상속받는 템플릿에서 개별적으로 구현해야 하는 영역-->
   {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>
